<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item 
            *ngFor="let recipe of recipes"
            [recipeInput]="recipe"
            (recipeSelected) = "onRecipeSelected(recipe)"
            ></app-recipe-item>      
            <!-- this recipeInput property comes from recipe-item componenet
            and it recived value of recipe from the ngFor loop
            but how can a child component's property be accessed in parent class? -->
            <!-- very confusing way to pass these properties from componenet to component
            from child to parent, etc. really easy to get lost
            but this recipeSelected event fires through a lower level action -->

    </div>
</div>


